@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
      format("woff"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
      format("opentype");
}

:root {
  --main--color: #5b2386;
  --body--color: #f5df4d;
}
/* 화면에 안보이게 하되 스크린리더에는 읽히게하는 속성 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  background-color: var(--main--color);
  font-family: "GmarketSansMedium";
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}

.container {
  padding: 4.1rem;
}

button {
  padding: 2rem 4.9rem 2.1rem 4.9rem;
  background-color: var(--body--color);
  border-radius: 1.3rem;
  color: var(--main--color);
  font-family: "GmarketSansBold";
  font-size: 1.4rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
}
header {
  position: relative;
  white-space: nowrap;
}

header .main_logo {
  width: 26.7rem;
  margin-bottom: 6.9rem;
  z-index: 3;
}
.clock {
  width: 10.6rem;
  position: absolute;
  transform: translatex(-20rem) translateY(-1.7rem);
}
main h2 {
  font-family: "OTEnjoystoriesBA";
  color: var(--body--color);
  margin-bottom: 6.2rem;
  font-size: 2.2rem;
}

.expert_text {
  margin-bottom: 6.2rem;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
}

.expert_text p {
  font-size: 1.4rem;
  line-height: 2.4rem;
  text-align: center;
}

.expert_text strong {
  font-family: "GmarketSansBold";
}

.expert_text::before,
.expert_text::after {
  display: inline;
  align-items: center;
  font-family: "GmarketSansBold";
  font-size: 4.8rem;
  position: absolute;
  background-origin: 0.4rem;
  height: 4.8rem;
  color: #fcee21;
  opacity: 30%;
}
.expert_text::before {
  content: "“";
  left: 0;
}
.expert_text::after {
  content: "”";
  right: 0;
}

input {
  padding: 1.2rem 3.5rem;
  border-radius: 0.7rem;
  border: 0;
  margin: 0 1.7rem;
}

input::placeholder {
  font-family: "GmarketSansMedium";
  color: #babcbe;
  font-size: 1.4em;
  text-align: center;
}
.expert {
  font-size: 1.4rem;
}
.expert_input_01 {
  margin-bottom: 1.7rem;
  display: block;
}

.how_pratice {
  margin: 4.9rem 0 6.4rem;
  position: relative;
}
.how_pratice::after {
  content: "";
  width: 2.7em;
  height: 3.5em;
  background-image: url(/img/click.png);
  background-size: contain;
  background-position: center;
  position: absolute;
  left: 27rem;
}
.pratice_text {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pratice_text strong {
  font-family: "GmarketSansBold";
  font-size: 2.4rem;
  margin: 0 0.8rem;
}
.bt_go,
.bt_share {
  border-radius: 5.6rem;
  padding: 1.3rem 1.7rem;
  margin: 5.5rem 0 8.3rem;
}
.bt_share {
  background-color: #fff;
  margin-left: 1.3rem;
}
/* footer  시작 */
footer img {
  width: 9.1rem;
  margin-bottom: 1.7rem;
}

footer p {
  font-family: "Noto Sans KR";
  opacity: 70%;
  font-size: 0.9rem;
  line-height: 1.3rem;
  text-align: center;
}
/* footer 종료 */

/* modal 시작 */
.modal_box {
  padding: 4rem 4.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--main--color);
  border-radius: 3rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
}

.modal_box h3,
.modal_box p {
  font-family: "OTEnjoystoriesBA";
}
.modal_box h3 {
  font-size: 6.4rem;
}
.modal_box p {
  font-size: 3.6rem;
}
.modal_box .bt {
  margin-top: 3.4rem;
}

/* modal 종료 */

@media (min-width: 767px) {
  .container {
    max-width: calc(100% - 10rem);
  }

  header .main_logo {
    width: 52rem;
  }
  main h2 {
    font-size: 3.6rem;
  }

  .clock {
    width: 22.1rem;
    position: absolute;
    transform: translatex(-38rem) translateY(-5.7rem);
  }
  .expert_text {
    margin-bottom: 6.2rem;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .expert_text strong {
    font-size: 2.4rem;
  }

  .expert_text p {
    font-size: 1.8rem;
    line-height: 2.4rem;
    text-align: center;
  }
  .break {
    display: none;
  }

  button {
    padding: 2rem 4.9rem 2.1rem 4.9rem;
    border-radius: 5.6rem;
    font-size: 2.4rem;
  }

  .how_pratice::after {
    left: 100%;
  }

  .pratice_text {
    font-size: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .pratice_text strong {
    font-family: "GmarketSansBold";
    font-size: 7.2rem;
    margin: 0 0.8rem;
  }

  .modal_box {
    padding: 7.6rem 14.5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    color: var(--main--color);
    border-radius: 3rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  }

  .modal_box h3,
  .modal_box p {
    font-family: "OTEnjoystoriesBA";
  }
  .modal_box h3 {
    font-size: 9.6rem;
  }
  .modal_box h3::after {
    content: "♥♥♥";
    font-size: 9.6rem;
    font-family: "OTEnjoystoriesBA";
  }
  .modal_box p {
    font-size: 3.6rem;
  }

  .modal_box .bt {
    margin-top: 7.4rem;
  }
}
