@font-face {
  font-family: "OTEnjoystoriesBA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/OTEnjoystoriesBA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2")
      format("woff2"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff")
      format("woff"),
    url("https://fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf")
      format("opentype");
}

:root {
  --main--color: #5b2386;
  --body--color: #f5df4d;
}
/* 화면에 안보이게 하되 스크린리더에는 읽히게하는 속성 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "GmarketSansMedium";
  font-size: 16px;
  color: #fff;
  background-color: var(--main--color);
}

.container {
  width: 192rem;
  max-width: calc(100% - 6rem);
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 17rem 0 7rem 0;
}
header {
  position: relative;
}
header img {
  width: 52.9rem;
  height: auto;
  max-width: 100%;
  position: relative;
}
/* 메인로고 뒤편 시계 */
header .main_logo::after {
  content: "";
  width: 100%;
  background-image: url(/the-10000-hour-rule/img/click.png);
  background-size: contain;
  background-position: center;
  position: absolute;
}

main h2 {
  font-family: "OTEnjoystoriesBA";
  color: var(--body--color);
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 3.96rem;
  margin: 12.5rem 0 7.8rem 0;
}

main p {
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 2.4rem;
}
.expert_text {
  margin-bottom: 10.2rem;
  position: relative;
  display: flex;
  text-align: center;
  justify-content: center;
}

.expert_text .quoetes_start {
  width: 4.6rem;
  height: 3rem;
  background-image: url(/img/quotes.png);
  background-position: left;
  background-repeat: no-repeat;
}
.expert_text .quoetes_end {
  width: 4.6rem;
  height: 2rem;
  background-image: url(/img/quotes.png);
  background-position: right;
  background-repeat: no-repeat;
}

main p strong {
  font-family: "GmarketSansBold";
  font-size: 2.4rem;
  line-height: 2.4rem;
}
input {
  padding: 1.7rem 4.1rem;
  border-radius: 0.7rem;
  border: 0;
  margin: 0 1.7rem;
}

input::placeholder {
  font-family: "GmarketSansMedium";
  color: #babcbe;
  font-size: 2.4em;
  font-weight: 400;
  text-align: center;
  line-height: 2.4rem;
}

.expert p:first-child {
  margin-bottom: 2.7rem;
}
.expert p:nth-child(2) {
  margin-bottom: 11.5rem;
}
.how_pratice {
  margin: 0 auto 14.7rem;
  position: relative;
}

.how_pratice::after {
  content: "";
  width: 6.4rem;
  height: 7.2rem;
  background-image: url(/img/click.png);
  background-size: contain;
  background-position: center;
  position: absolute;
  left: 100%;
}

.bt {
  font-family: "GmarketSansBold";
  padding: 2.1rem 4.9rem 2.1rem 4.9rem;
  background-color: var(--body--color);
  color: var(--main--color);
  font-size: 2.4rem;
  line-height: 2.4rem;
  text-align: center;
  font-weight: 700;
  border-radius: 5.6rem;
  border: 0;
  display: block;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.practice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.practice p {
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 2.4rem;
}
.practice p:first-child {
  margin-bottom: 2.7rem;
}

.practice p strong {
  font-family: "GmarketSansBold";
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 7.2rem;
  margin: 1.2rem;
}

.button_area {
  margin-top: 12.7rem;
  display: flex;
  gap: 1.8rem;
}
.share {
  background-color: white;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer img {
  margin-top: 13rem;
  width: 12.5rem;
}
footer p {
  font-family: "Noto Sans KR";
  font-size: 1.2rem;
  line-height: 1.7rem;
  text-align: center;
  margin-top: 2rem;
  font-weight: 400;
}
.break {
  display: none;
}

@media (max-width: 767px) {
  .container {
    padding: 17rem 0 7rem 0;
  }
  header img {
    width: 85.3vw;
  }
  main h2 {
    white-space: nowrap;
    font-size: 6.3vw;
  }
  .break {
    display: block;
    margin-bottom: 5rem;
  }
  .bt .how_pratice span {
    display: block;
  }
  .expert_text p {
    font-size: 3.1vw;
  }
  .practice p {
    font-size: 6.3vw;
  }

  .break {
    display: inline-block;
  }

  .bt {
    padding: 1.3rem 1.7rem;
  }
  .input {
    margin: 0 0.4rem;
  }
}

/* 메인 페이지 스타일 끝*/
@media (max-width: 767px) {
  .container {
    width: 720px;
  }
}

/* 모달 스타일 시작 */

.modal_box {
  width: 100%;
  padding: 7.6rem 13rem 7.6rem;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: "OTEnjoystoriesBA";
  background-color: #fff;
  border-radius: 3rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  /* 안보이게 처리 */
  display: none;
  /* 안보이게 처리 */
}

.modal_box h3 {
  color: var(--main--color);
  font-size: 9.6rem;
  font-weight: 700;
  text-align: center;
  line-height: 10.5rem;
}
.modal_box p {
  color: var(--main--color);
  font-size: 3.6rem;
  font-weight: 700;
  text-align: center;
  line-height: 3rem;
}

.modal_box img {
  width: 34.3;
  height: 29.3;
  margin-bottom: 7rem;
}
.modal_box .bt {
  margin-bottom: 7.3rem;
  padding: 2.1rem 4.9rem;
}
/* 모달 스타일 종료 */
